## data Frame_pandas

## boolean

In [2]:
print(True == False)
print(True == True)

False
True

In [4]:
True == False

False

In [5]:
True == True

True

In [8]:
True != '1'

True

In [9]:
e='Abcde'

In [12]:
e.upper()

'ABCDE'

In [14]:
e.lower()

'abcde'

In [17]:
big=e.upper()
big

'ABCDE'

In [18]:
data=[]
t=()
d={}

In [22]:
print(type(data))
print(type(t))
print(type(d))

<class 'list'>
<class 'tuple'>
<class 'dict'>

In [51]:
data=['재홍','유빈',2,3,4]
t=(1,2,3,4,5)
d={100:'일', 2:'이'}

In [52]:
d.keys()

dict_keys([100, 2])

In [53]:
d.values()

dict_values(['일', '이'])

In [39]:
t[0]='일'#튜플의 요소는 기본적으로는 바꿀수 없다.

TypeError: 'tuple' object does not support item assignment

In [43]:
d[100]

'일'

In [27]:
data[1],data[-1]

('유빈', 4)

In [29]:
data[2:]

[2, 3, 4]

In [31]:
data[:2]

['재홍', '유빈']

In [33]:
data[0]='석찬'

In [36]:
data[0]

'석찬'

## 학습지

In [44]:
True == False

False

In [46]:
True != 0

True

In [48]:
False == 0

True

In [49]:
True or False

True

In [50]:
1=='1'

False

In [157]:
eng = 'Korea COVID 19'
eng

'Korea COVID 19'

In [57]:
eng.lower()

'korea covid 19'

In [72]:
eng.upper()

'KOREA COVID 19'

In [2]:
data=[]
data

[]

In [13]:
data.append('java')

In [14]:
data.append('c')

In [15]:
data

['java', 'java', 'java', 'c']

In [16]:
data

['java', 'java', 'java', 'c']

In [17]:
data[0], data[-1],data[1:],data[:2]

('java', 'c', ['java', 'java', 'c'], ['java', 'java'])

In [25]:
data.sort()

In [26]:
data

['c', 'java', 'java', 'java']

In [31]:
data.reverse()

In [32]:
data

['java', 'java', 'java', 'c']

In [82]:
b=(1,2,3,'사','오')
b

(1, 2, 3, '사', '오')

In [84]:
c=1,2,3
c

(1, 2, 3)

In [122]:
type(b),type(c)

(tuple, tuple)

In [123]:
b[3]=4

TypeError: 'tuple' object does not support item assignment

In [125]:
b[3:],b[1:4]

(('사', '오'), (2, 3, '사'))

In [132]:
dic = {'name1':r'경민',',학번1':20103,'name2':'경민2','학번2':20104}

In [133]:
dic.get('name1')

'경민'

In [130]:
dic.keys()

dict_keys(['namel', ',학번1', 'name2', '학번2'])

In [131]:
dic.values()

dict_values(['경민', 20103, '경민2', 20104])

In [137]:
lunch={'햄버거','치킨','라면','콜라',10000}
lunch

{10000, '라면', '치킨', '콜라', '햄버거'}

In [140]:
dinner={'피자','족발','라면','콜라',10000}
dinner

{10000, '라면', '족발', '콜라', '피자'}

In [34]:
a=[1,2,3]
b=['치킨','피자','고구마']

In [35]:
a.append(400)

In [36]:
a

[1, 2, 3, 400]

In [37]:
b

['치킨', '피자', '고구마']

In [38]:
s1=[a,b]

In [39]:
import pandas as pd

In [40]:
pd.Series(s1)

0    [1, 2, 3, 400]
1     [치킨, 피자, 고구마]
dtype: object

In [41]:
pd.DataFrame(s1)

    0   1    2      3
0   1   2    3  400.0
1  치킨  피자  고구마    NaN

In [43]:
d=['일','이','삼','사','오']

In [44]:
pd.DataFrame(d,index=[1,2,3,4,5],columns=['이름'])

  이름
1  일
2  이
3  삼
4  사
5  오

In [75]:
per =[
    {'이름':'은주','나이':30,'직업':'j1'},
    {'이름':'대주','나이':30,'직업':'j1'},
    {'이름':'고주','나이':30,'직업':'j1'},
    {'이름':'미주','나이':30,'직업':'j1'},
]

In [76]:
per

[{'이름': '은주', '나이': 30, '직업': 'j1'},
 {'이름': '대주', '나이': 30, '직업': 'j1'},
 {'이름': '고주', '나이': 30, '직업': 'j1'},
 {'이름': '미주', '나이': 30, '직업': 'j1'}]

In [73]:
per_2 =[
    {'이름':'은주','나이':30,'직업':'j1'},
    
]

In [74]:
pd.DataFrame(per_2, index=4,5,6,7)

SyntaxError: positional argument follows keyword argument (<ipython-input-74-343d8bb8775d>, line 1)

In [77]:
person = [
    ['a',100,80],['b',17,60],['b',50,40],['d',90,80]
]
col_name=['name','국어','영어']
df=pd.DataFrame.from_records(person,columns=col_name, index=[1,2,3,4])
df[['국어','영어']]>70

      국어     영어
1   True   True
2  False  False
3  False  False
4   True   True

In [81]:
person = [
    ['아침','삼겹살'],['점심','치킨'],['저녁','피자']
]
col_name=['3식','메뉴']
pd.DataFrame.from_records(person,columns=col_name, index=[1,2,3])

   3식   메뉴
1  아침  삼겹살
2  점심   치킨
3  저녁   피자