### format_for_list

In [1]:
s='{} {} {}'
f=s.format('대건','윤기','찬빈')
print(f)

대건 윤기 찬빈

In [3]:
s='{}이는 {}와 {}이를 좋아한다'
f=s.format('대건','윤기','찬빈')
print(f)

대건이는 윤기와 찬빈이를 좋아한다

In [4]:
s='{}이는 {}이고 {}에 진학했다'
f=s.format('대건','30312','인천대학교')
print(f)

대건이는 30312이고 인천대학교에 진학했다

In [7]:
name='석찬'
num=30103
add='인천시 연수구'
s='{}이는 {}번이고 {}에 살고 있다'
f=s.format(name,num,add)
print(f)

석찬이는 30103번이고 인천시 연수구에 살고 있다

In [9]:
name=input('이름입력: ')
num=input('학번입력: ')
add=input('주소입력: ')
s='{}이는 {}번이고 {}에 살고 있다'
f=s.format(name,num,add)
print(f)

이름입력: wlsdns
학번입력: 1313
주소입력: dfsfd
wlsdns이는 1313번이고 dfsfd에 살고 있다

In [18]:
stu=input('이름 학번 주소입력: ').split()

이름 학번 주소입력: 치킨 001 닭장

In [16]:
stu[1]

'1'

In [19]:
s='{}이는 {}번이고 {}에 살고 있다'
f=s.format(stu[0],stu[1],stu[2])
print(f)

치킨이는 001번이고 닭장에 살고 있다

### 문제1. 다음과 같은 양식으로 입력받아 출력하기
- 햄버거/2/4 입력하면
- 햄버거 2개 값은 8달러입니다.

In [27]:
ha=input('햄버거 개 달러: ').split()

햄버거 개 달러: 3 4

In [29]:
s='햄버거 {}개의 값은 {}입니다.'
f=s.format(ha[0],int(ha[1])*int(ha[0]))
print(f)

햄버거 3개의 값은 12입니다.

In [31]:
info='%d %s %f'
pr=info%(20,'인천',0.54)
print(pr)

20 인천 0.540000

In [34]:
info='%d년도 %s남고 %.2f퍼센트'
pr=info%(2020,'인천',0.54)
print(pr)

2020년도 인천남고 0.54퍼센트

### 문제2. 햄버거 2개는 8달라이다.
'햄버거'
2
2 * 4

In [35]:
data='%s %d개는 %d달라이다'
pr=data%('햄버거',2,2*4)
print(pr)

햄버거 2개는 8달라이다

## List

In [36]:
arr=[1,2,3,4,5]
arr

[1, 2, 3, 4, 5]

In [45]:
arr=['성곤','대건','대범','호정']
arr

['성곤', '대건', '대범', '호정']

In [40]:
arr[0]

'성곤'

In [47]:
len(arr)

4

In [52]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [53]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [54]:
for i in arr:
    print(i)

성곤
대건
대범
호정

In [58]:
for i in range(len(arr)):
    print(arr[i])

성곤
대건
대범
호정

In [64]:
for i,aa in enumerate(arr):
    print(i+1,'번',aa)

1 번 성곤
2 번 대건
3 번 대범
4 번 호정

## 문제1. 30부터 50까지 출력하기

In [66]:
for i in range(30,51):
    print(i)

30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

## 문제2. 30부터 50까지 홀수만 출력

In [68]:
for i in range(30,51):
    if i%2!=0:
        print(i)

31
33
35
37
39
41
43
45
47
49

## 문제3. 30부터 50까지중 홀수만 더해서 sum에 넣고 출력

In [72]:
sum=0
for i in range(30,51):
    if i%2!=0:
        sum=sum+i
        print(i)
print(sum)

31
33
35
37
39
41
43
45
47
49
400

## 문제4. 1부터 10까지중 
- 짝수면 파이썬
- 홀수이면 '야 너도 할수있어' 출력

In [76]:
for i in range(1,11):
    if i%2==0:
        print('파이썬')
    else:
        print('야 너도 할수 있어')

야 너도 할수 있어
파이썬
야 너도 할수 있어
파이썬
야 너도 할수 있어
파이썬
야 너도 할수 있어
파이썬
야 너도 할수 있어
파이썬